<form class="mb-3 mt-3">
  <div class="form-group">
    <label class="text-capitalize" for="car-name">car name</label>
    <input type="text" class="form-control" id="car-name" placeholder="Enter car name">
  </div>
</form>
<form class="mb-3 mt-3">
  <div class="form-group">
    <label class="text-capitalize" for="car-model">car model</label>
    <input type="text" class="form-control" id="car-model" placeholder="Enter car model">
  </div>
</form>
<div class="mb-4">
  <button type="button" class="btn btn-warning mr-1">add new car</button>
  <button type="button" class="btn btn-info">load cars</button>
</div>
