<form class="mb-3 mt-3" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="text-capitalize" for="car-name">car name</label>
    <input type="text" class="form-control" id="car-name" placeholder="Enter car name" formControlName="name">
  </div>
  <div class="form-group">
    <label class="text-capitalize" for="car-model">car model</label>
    <input type="text" class="form-control" id="car-model" placeholder="Enter car model" formControlName="model">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-warning mr-1">add new car</button>
    <button (click)="onLoad()" type="button" class="btn btn-info">load cars</button>
  </div>
</form>
